/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body{
    background:#ece5dd;
}

/* MAIN CONTAINER */
.wa-container{
    width:100%;
    max-width:420px;
    height:100vh;
    background:#ece5dd;
    display:flex;
    flex-direction:column;
    margin:auto;
}

/* HEADER */
.wa-header{
    height:60px;
    background:#202c33;
    color:#fff;
    display:flex;
    align-items:center;
    padding:0 10px;
}

.wa-header .back{
    color:#fff;
    font-size:22px;
    margin-right:10px;
}

.avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

.info{
    margin-left:10px;
}

.name{
    font-weight:600;
    font-size:15px;
}

.status{
    font-size:12px;
    opacity:.8;
}

/* CHAT AREA */
.wa-chat{
    flex:1;
    padding:10px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
}

/* MESSAGE BUBBLE */
.bubble{
    max-width:75%;
    padding:7px 9px;
    margin-bottom:8px;
    border-radius:8px;
    position:relative;
    word-wrap:break-word;
    font-size:14px;
}

/* SENDER */
.sent{
    align-self:flex-end;
    background:#dcf8c6;
    border-top-right-radius:0;
}

/* RECEIVER */
.received{
    align-self:flex-start;
    background:#fff;
    border-top-left-radius:0;
}

/* TEXT */
.text{
    white-space:pre-wrap;
}

/* IMAGE */
.chat-img{
    max-width:230px;
    border-radius:7px;
    margin-top:5px;
    cursor:pointer;
}

/* TIME */
.time{
    font-size:11px;
    color:#555;
    text-align:right;
    margin-top:2px;
}

/* INPUT BAR */
.wa-input{
    height:55px;
    background:#f0f0f0;
    display:flex;
    align-items:center;
    padding:5px;
    gap:5px;
}

.wa-input input[type="text"]{
    flex:1;
    border:none;
    border-radius:20px;
    padding:8px 12px;
    outline:none;
    font-size:14px;
}

.wa-input button{
    border:none;
    background:#202c33;
    color:#fff;
    width:40px;
    height:40px;
    border-radius:50%;
    font-size:16px;
    cursor:pointer;
}

/* SCROLLBAR */
.wa-chat::-webkit-scrollbar{
    width:4px;
}
.wa-chat::-webkit-scrollbar-thumb{
    background:#aaa;
    border-radius:10px;
}

/* FULL SCREEN IMAGE PREVIEW */
.img-modal{
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.95);
    z-index:9999;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.img-modal img{
    max-width:95%;
    max-height:80%;
    border-radius:10px;
}

.close-preview{
    position:absolute;
    top:15px;
    right:20px;
    font-size:35px;
    color:#fff;
    cursor:pointer;
}

#sendImageBtn{
    margin-top:15px;
    padding:10px 30px;
    background:#202c33;
    color:#fff;
    border:none;
    border-radius:25px;
    font-size:16px;
}
